/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-color: #FFFEF8;
	;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

a {
	color: inherit;
	text-decoration: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



/** end reset css**/

html,
body{
	overflow-x: hidden;
}


body {
	max-width: 1440px;
	margin: 0 auto;
	font-family: 'Work Sans';
	font-size: 14px;
	line-height: 1;
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;  */
}

main {
	margin: 0 auto;
	max-width: 1140px;
}


/************** MODE EDITION *****************/

.edition-top-bar {
	text-align: center;
	display: none;
	background-color: black;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
	max-width: 1440px;
	margin: auto;
}

.edition-top-bar i {
	height: 15px;
	width: 15px;
	color: white;
	background-color: black;
}

.edition-link {
	color: black;
	text-align: center;
	font-family: "Work Sans";
	font-size: 14px;
	padding-left: 31px;
	cursor: pointer;
	display: none;
	font-weight: 400;
}



/************** MODALE  *******************/

.modal-gallery,
.modal-photo {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
	position: relative;
	width: 630px;
	height: 688px;
	border-radius: 10px;
	background-color: #fefefe;
	margin: 12% auto;
	border: 1px solid #888;
	overflow: auto;
	box-sizing: border-box;
}

.modal-content h2 {
	color: black;
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	text-align: center;
	margin: 60px auto 46px auto;
	background-color: #FFFFFF;
}

.add-photo,
.validate-btn {
	height: 36px;
	border: transparent;
	width: 237px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 9px 40px;
	font-size: 14px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	text-align: center;
	border-radius: 60px;
}

.close-button {
	position: absolute;
	top: 26px;
	right: 30px;
	margin-bottom: 10px;
	font-size: 24px;
}

.close-button:hover,
.close-button:focus {
	text-decoration: none;
	cursor: pointer;
}

#project-list {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 9px;
	grid-row-gap: 29px;
	margin: 0 auto;
	padding-bottom: 65px;
	width: 420px;
	border-bottom: 1px solid #B3B3B3;
	background-color: #FFFFFF;
}

.modal-image {
	width: 100%;
	height: auto;
}

.work-item {
	position: relative;
	display: inline-block;
}

.delete-icone {
	cursor: pointer;
	position: absolute;
	color: white;
	top: 6px;
	right: 5px;
	background-color: black;
	width: 17px;
	height: 17px;
	font-size: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}


/***** Modale 2 ******/

.modal-photo h2 {
	margin: 60px auto 36px auto;
}

.form-add-photo {
	display: flex;
	flex-direction: column;
	width: 420px;
	padding-bottom: calc(47px - 20px);   /* -20px margin categories */
	background-color: #fefefe;
	margin: auto;
}

.form-add-photo label {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #3D3D3D;
	margin-bottom: 10px;
	background-color: #FFFFFF;
}

.form-add-photo input,
.form-add-photo select {
	height: 50px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 20px;
}

.border-separator {
	border-bottom: 1px solid #888;
    margin-top: 47px;
    margin-bottom: 32px; 
}

.validate-btn {
	background-color: #888;
	cursor: pointer;
	margin-top: 0;
}

.validate-btn.active {
	background-color: #1D6154; 
}


.back-arrow-btn {
	text-decoration: none;
	border: none;
	display: block;
}

.back-arrow {
	position: absolute;
	top: 26px;
	left: 30px;
	cursor: pointer;
	margin-bottom: 10px;
	font-size: 24px;
}

.areaInputPhoto {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #E8F1F7;
	border-radius: 3px;
	margin-bottom: 30px;
	overflow: hidden;
	height: 170px;
	width: 420px;
}

.areaInputPhoto i {
	font-size: 70px;
	color: #B9C5CC;
	background: #E8F1F7;
	margin-bottom: 6px;
}

.areaInputPhoto input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
}

.areaInputPhoto .customButton {
	display: inline-block;
	padding: 10px 33px;
	background-color: #CBD6DC;
	color: #fff;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	color: #306685;
}

.areaInputPhoto .info-photo {
	background: #E8F1F7;
	margin-top: 7px;
	font-size: 10px;
	color: #444444
}

/************  HEADER  ********/

header {
	display: flex;
	justify-content: space-between;
	/* margin: 50px 0; */
	margin: 50px auto;
	max-width: 1140px;
	
}


.login-page .bold-login {
	font-weight: 600;
	/* color: red; */
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 44px;
	cursor: pointer;

}

nav li {
	/* padding: 0 10px; */
	font-size: 16px;
}

nav li img {
	height: 22px;
	width: 22px;
}

li:hover {
	color: #B1663C;
}



/******** **********/

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}



#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

/********* SECTION GALLERY *********/
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#menu_categories {
	list-style-type: none;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
}

.category-btn {
	display: inline-block;
	padding: 5px 10px;
	cursor: pointer;
	margin: 10px;
	font-size: 16px;
	font-family: "Syne";
	font-weight: 700;
	color: #1D6154;
	border-radius: 60px;
	border: 2px solid #1D6154;
	background-color: #FFFEF8;
}

.category-btn:hover {
	background-color: #1D6154;
	color: white;
	border-color: #1D6154;
}


/******** SECTION CONTACT **************/
#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;
}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

#btn-send:hover,
.btn-log:hover,
.add-photo:hover,
.validate-btn.active:hover {
	background-color: #0E2F28;
}



/********* Style du LOGIN *********/

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-login {
	display: flex;
	flex-direction: column;
	padding: 30px;
}

.form-login label {
	margin-top: 30px;
	margin-bottom: 6px;
}

.form-login #email,
.form-login #password {
	width: 379px;
	height: 51px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	border: transparent;
}

.form-login .btn-log {
	margin-top: 37px;
	height: 36px;
	border: transparent;
}

.form-login a {
	text-align: center;
}

/************ FOOTER ********/

footer {
	background-color: #FFFFFF;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	/* max-width: 1440px; */
	
}

.login-page footer {
	position: fixed;
	bottom: 0;
}

footer nav{
	background-color: #FFFFFF;
}

footer ul {
	display: flex;
	justify-content: flex-end;
	margin: 28px;
	padding-right: 107px;
	font-size: 14px;
}
